{	
	"Apiserver":"localhost",
	"Dbserver":"localhost",
	"DbserverPW":"mypw",
	"DbserverUser":"root",
	"DbserverPort":"3306",
 	"DbserverDefaultDB":"main",
	"DBTLS": false,
	"SSLCliKey": "/var/ssl/client-key.pem",
	"SSLCliCert": "/var/ssl/client-cert.pem",
	"SSLCaCert": "/var/ssl/ca-cert.pem",	
	"DevEnv":true,
	"TestKey":"",
	"SMTPEndpoint":"",
	"SMTPPort":"",
	"SMTPSupportUserName":"",
	"SMTPSupportUserPW":"",
	"SMTPServiceAPIKey":"",
	"SMSTestPhone":"",
	"TwilTestToken":"",
	"TwilTestAcct":"",
	"RecaptchaSecret":"",
	"RecaptchaEP": "",
	"RecaptchaThreshold": 0.5,
	"MinioEndpoint" : "",
	"MinioAccessKey": "",
	"MinioSecretAccessKey" : ""
}